article {
  padding: 24px;
  min-width: 290px;
  max-width: 370px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  font-family: Figtree;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 8px 8px;
  box-sizing: border-box;

  & > img {
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.category {
  @include text-style(12, 14, 800, $gray-950);

  background-color: $main-yellow;
  border-radius: 4px;
  padding: 4px 12px;
  align-self: flex-start;
}

.date {
  @include text-style(12, 14, 500, $gray-950);
}

.link {
  @include text-style(20, 24, 800, $gray-950);
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  color: $main-yellow;
}

.description {
  @include text-style(14, 16, 500, $gray-500);
}

.author {
  @include text-style(14, 14, 800, $gray-950);
}

footer {
  display: flex;
  gap: 12px;
  align-items: center;

  img {
    width: 32px;
    height: 32px;
  }
}
